<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 나눔스퀘어 폰트 로드 -->
  <link href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css" rel="stylesheet">
  
  <style>
    body {position: relative;}
  </style>
  
  {% load static %}
  {% comment %} <link href="{% static 'img/brand.png' %}" rel="icon"> {% endcomment %}
  <link href="{% static 'css/ex.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet">

  {% block extra_css %}{% endblock %}

  <script src="{% static 'js/main.js' %}"></script>
  
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% include "header.html" %}  
    {% block content %}
    {% endblock %}
  {% include "footer.html" with year=2025 %}

  {% block extra_js %}{% endblock %}
</body>
</html>